force-app/main/default/flows/Creating_Lead_from_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Format_For_Australia</name>
        <label>Format For Australia</label>
        <locationX>1375</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AustraliaCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_Brazil</name>
        <label>Format For Brazil</label>
        <locationX>2431</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrazilCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_China</name>
        <label>Format For China</label>
        <locationX>2695</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChinaCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_France</name>
        <label>Format For France</label>
        <locationX>1903</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FranceCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_Germany</name>
        <label>Format For Germany</label>
        <locationX>1639</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GermanyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_India</name>
        <label>Format For India</label>
        <locationX>583</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndiaCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_Italy</name>
        <label>Format For Italy</label>
        <locationX>2167</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItalyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_Japan</name>
        <label>Format For Japan</label>
        <locationX>2959</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JapanCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_South_Korea</name>
        <label>Format For South Korea</label>
        <locationX>3223</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SouthKoreaCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_UK</name>
        <label>Format For UK</label>
        <locationX>1111</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UKCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_For_US</name>
        <label>Format For US</label>
        <locationX>847</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Country_Codes</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>FeedbackError</name>
        <label>FeedbackError</label>
        <locationX>55</locationX>
        <locationY>479</locationY>
        <customErrorMessages>
            <errorMessage>Please provide both Name and Phone when selecting &apos;Interested in Hosting an Event&apos; to ensure we can follow up with you effectively.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>InvalidNumberError</name>
        <label>InvalidNumberError</label>
        <locationX>319</locationX>
        <locationY>587</locationY>
        <customErrorMessages>
            <errorMessage>Enter Valid Phone Number</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Interested_in_Hosting_Event</name>
        <label>Interested in Hosting Event</label>
        <locationX>616</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>is_Contact_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete Details</defaultConnectorLabel>
        <rules>
            <name>Incomplete_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interested_in_Hosting_an_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeedbackError</targetReference>
            </connector>
            <label>Incomplete Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_Valid</name>
        <label>is Contact Valid</label>
        <locationX>1177</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>To_Check_Country_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Number Format</defaultConnectorLabel>
        <rules>
            <name>Invalid_Number</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>ValidPhoneNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidNumberError</targetReference>
            </connector>
            <label>Invalid Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_Country_Code</name>
        <label>To Check Country Code</label>
        <locationX>2035</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>For_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India (+91)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_India</targetReference>
            </connector>
            <label>For India</label>
        </rules>
        <rules>
            <name>For_United_States</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States (+1)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_US</targetReference>
            </connector>
            <label>For United States</label>
        </rules>
        <rules>
            <name>For_United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom (+44)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_UK</targetReference>
            </connector>
            <label>For United Kingdom</label>
        </rules>
        <rules>
            <name>For_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_Australia</targetReference>
            </connector>
            <label>For Australia</label>
        </rules>
        <rules>
            <name>For_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany (+49)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_Germany</targetReference>
            </connector>
            <label>For Germany</label>
        </rules>
        <rules>
            <name>For_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France (+33)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_France</targetReference>
            </connector>
            <label>For France</label>
        </rules>
        <rules>
            <name>For_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy (+39)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_Italy</targetReference>
            </connector>
            <label>For Italy</label>
        </rules>
        <rules>
            <name>For_Brazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil (+55)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_Brazil</targetReference>
            </connector>
            <label>For Brazil</label>
        </rules>
        <rules>
            <name>For_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China (+86)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_China</targetReference>
            </connector>
            <label>For China</label>
        </rules>
        <rules>
            <name>For_Japan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan (+81)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_Japan</targetReference>
            </connector>
            <label>For Japan</label>
        </rules>
        <rules>
            <name>For_South_Korea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Korea (+82)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_For_South_Korea</targetReference>
            </connector>
            <label>For South Korea</label>
        </rules>
    </decisions>
    <description>Automatically create a Lead when the “Interested in Hosting an Event” checkbox is checked and both the Name and Contact Details are provided, including the Event Name in the Lead Description.</description>
    <environments>Default</environments>
    <formulas>
        <name>AustraliaCode</name>
        <dataType>String</dataType>
        <expression>&quot;+61 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>BrazilCode</name>
        <dataType>String</dataType>
        <expression>&quot;+55 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>ChinaCode</name>
        <dataType>String</dataType>
        <expression>&quot; +86 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>FranceCode</name>
        <dataType>String</dataType>
        <expression>&quot;+33 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>GermanyCode</name>
        <dataType>String</dataType>
        <expression>&quot;+49 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>IndiaCode</name>
        <dataType>String</dataType>
        <expression>&quot;+91 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>ItalyCode</name>
        <dataType>String</dataType>
        <expression>&quot;+39 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>JapanCode</name>
        <dataType>String</dataType>
        <expression>&quot;+81 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>LeadDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Event: &quot; &amp;{!$Record.Event__r.Name} 
&amp; BR() &amp; 
&quot;Phone: &quot; &amp;({!$Record.Phone__c}) 
&amp; BR() &amp;  
&quot;Specific Aspects: &quot; &amp; IF(ISBLANK({!$Record.Specific_Aspects__c}), &quot;None provided&quot;, {!$Record.Specific_Aspects__c}) 
&amp; BR() &amp; 
&quot;Comments: &quot; &amp; IF(ISBLANK({!$Record.Comments__c}), &quot;None provided&quot;, {!$Record.Comments__c})
&amp; BR() &amp; 
&quot;Suggestions: &quot; &amp; IF(ISBLANK({!$Record.Suggestions__c}), &quot;None provided&quot;, {!$Record.Suggestions__c})</expression>
    </formulas>
    <formulas>
        <name>SouthKoreaCode</name>
        <dataType>String</dataType>
        <expression>&quot;+82 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>UKCode</name>
        <dataType>String</dataType>
        <expression>&quot;+44 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>USCode</name>
        <dataType>String</dataType>
        <expression>&quot; +1 &quot; + {!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>ValidPhoneNumber</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
OR(
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;India (+91)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[6-9][0-9]{9}$&quot;) /* India: Starts with 6-9, exactly 10 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;United States (+1)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[2-9][0-9]{9}$&quot;) /* US: Starts with 2-9, exactly 10 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;United Kingdom (+44)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[7][0-9]{9}$&quot;) /* UK: Starts with 7, exactly 10 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;Australia (+61)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[4][0-9]{8}$&quot;)) /* Australia: Starts with 4, exactly 9 digits */
,
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;Germany (+49)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^(15|16|17)[0-9]{8}$&quot;) /* Germany: Starts with 15, 16, or 17, exactly 10 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;France (+33)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[6|7][0-9]{8}$&quot;) /* France: Starts with 6 or 7, exactly 9 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;Italy (+39)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[3][0-9]{8,9}$&quot;) /* Italy: Starts with 3, exactly 8–9 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;Brazil (+55)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^[9][0-9]{8}$&quot;) /* Brazil: Starts with 9, exactly 9 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;China (+86)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^(13|14|15|16|17|18|19)[0-9]{8}$&quot;) /* China: Starts with 13–19, exactly 11 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;Japan (+81)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^(70|80|90)[0-9]{8}$&quot;) /* Japan: Starts with 70, 80, or 90, exactly 10 digits */
),
AND(
ISPICKVAL( {!$Record.Country_Code__c} , &apos;South Korea (+82)&apos;),
REGEX( {!$Record.Phone__c} , &quot;^(10|11|16|17|18|19)[0-9]{8}$&quot;) /* South Korea: Starts with 10, 11, 16–19, exactly 10 digits */
)
)
)</expression>
    </formulas>
    <interviewLabel>Creating Lead from Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_record</name>
        <label>Create Lead record</label>
        <locationX>2035</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LeadDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Feedback</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Country_Codes</name>
        <label>Update Country Codes</label>
        <locationX>2035</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Create_Lead_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Interested_in_Hosting_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interested_in_Hosting_an_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Feedback__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FeedbackName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedbackNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
