force-app/main/default/flows/Eventdetails_schedule_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Status_should_be_changed</name>
        <label>Status should be changed</label>
        <locationX>429</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Date_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_updated_related_to_Ongoing</targetReference>
            </connector>
            <label>For Ongoing</label>
        </rules>
        <rules>
            <name>For_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_updated_related_to_Completed</targetReference>
            </connector>
            <label>For Complete</label>
        </rules>
    </decisions>
    <description>Automate Event Status Updates Based on Event Dates</description>
    <environments>Default</environments>
    <interviewLabel>Eventdetails  schedule flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eventdetails  schedule flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Record_updated_related_to_Completed</name>
        <label>Record updated related to Completed</label>
        <locationX>693</locationX>
        <locationY>383</locationY>
        <inputAssignments>
            <field>Event_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Record_updated_related_to_Ongoing</name>
        <label>Record updated related to Ongoing</label>
        <locationX>194</locationX>
        <locationY>347</locationY>
        <inputAssignments>
            <field>Event_Status__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Status_should_be_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Event_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event_Details__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-28</startDate>
            <startTime>14:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
