force-app/main/default/flows/Send_Email_Notification_to_Vendor_about_Expiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_Vendor_about_Expiry</name>
        <label>Notify the Vendor about Expiry</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>Vendor__c.Email_alert_for_notify_expiry_date_to_vendor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Vendor__c.Email_alert_for_notify_expiry_date_to_vendor</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Send Email Notification to Vendor about Expiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Notification to Vendor about Expiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vendor_Records_near_to_expire</name>
        <label>Get Vendor Records near to expire</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_the_Vendor_about_Expiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notify_before_expiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Records_near_to_expire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notify_before_expiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vendor__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-07</startDate>
            <startTime>11:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
